language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm

before_script:
  - composer selfupdate
  - composer install --prefer-source

script:
  - bin/phpunit

notifications:
  email:
    - nik.longstone@gmail.com 
